.App {
  text-align: center;
}

.Preview {
  height: 300px;
  margin-top: 50px;
}

.Button {
  text-align: left;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-top: 20px ;
}

.horizontal_scroll_wrap{
    background: #f1f1f1;
    height: 240px;
    overflow-y: hidden;
}
.scroll_lst {
    overflow-y: hidden;
    white-space: nowrap;
    padding-bottom: 50px;
    margin: 25px 0 0;
    -webkit-overflow-scrolling: touch;
}
.scroll_item {
    margin-right: 30px;
    display: inline-block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
